/* roboto-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

/* galindo-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Galindo';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/galindo-v20-latin-regular.woff2') format('woff2');
}

/* montserrat-regular - cyrillic_latin */
@font-face {
	font-display: swap;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/montserrat-v25-cyrillic_latin-regular.woff2') format('woff2');
}

:root {
	--color-primary-light: #ffff;
	--color-primary-dark: #070707;
	--color-secondary-red: #FF0000;
	--color-secondary-black: #000000;
	--color-secondary-grey: #747272;
	--color-secondary-darkred: #CB0000;
}

/*Base*/

* {
	box-sizing: border-box;
}

header {
	background-color: var(--color-secondary-black);
	color: var(--color-primary-light);
	line-height: 1.1;
}

body {
	background-color: #FFFAF1;
	color: var(--color-primary-dark);
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	margin: 0px;
}

ul {
	list-style: none;
}

a {
	color: var(--color-primary-light);
	text-decoration: none;
	font-style: normal;
}

address {
	font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}

p{
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

/*Header*/

.header-list-item:hover {
	color: var(--color-secondary-red);
	font-weight: 900;
}

.header-container {
	display: flex;
	justify-content: center;
}

.header-nav {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: space-between;
}

.header-menu {
	display: flex;
	gap: 64px;
}

.header-link {
	display: flex;
	gap: 26px;
	margin: 0;
	padding-right: 97px;
}

.header-logo {
	padding-left: 51px;
}

/*Hero section*/

.hero-section {
	background-image: url('../images/hero-back.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}

.hero-main-text {
	font-size: 25px;
	color: var(--color-secondary-red);
	margin: 0;
	padding: 50px 0px 40px 0px;
	display: flex;
	justify-content: center;
}

.hero-main-title {
	color: var(--color-primary-light);
	text-transform: uppercase;
	font-size: 140px;
	line-height: 0.7;
	margin: 0;
	padding-bottom: 40px;
	display: flex;
	justify-content: center;
	font-family: 'Galindo';
}

.hero-span {
	color: var(--color-secondary-red);
	text-transform: uppercase;
	font-size: 140px;
}

.hero-button {
	background-color: var(--color-secondary-red);
	border: 2px solid var(--color-secondary-red);
	border-radius: 32px;
	width: 317px;
	height: 74px;
	color: var(--color-primary-dark);
	font-size: 24px;
	text-transform: uppercase;
	line-height: 0.9;
}

.hero-button:hover {
	cursor: pointer;
	background-color: var(--color-secondary-darkred);
	border: 2px solid var(--color-secondary-darkred);
	color: var(--color-primary-dark);
}

.hero-text {
	color: var(--color-primary-light);
	font-size: 18px;
	padding-bottom: 80px;
	padding-top: 40px;
	display: flex;
	justify-content: center;
	margin: 0;
}

.hero-container {
	display: flex;
	flex-direction: column;
	padding-top: 175px;
	padding-bottom: 156px;

}

.button-container {
	display: flex;
	justify-content: center;
}

/*Use us section*/

.use-us-title {
	font-size: 60px;
	display: flex;
	padding-top: 30px;
	padding-bottom: 42px;
	align-items: center;
	justify-content: center;
}

.use-us-span {
	color: var(--color-secondary-red);
}

.use-us-text {
	font-size: 21px;
	line-height: 0.9;
	max-width: 400px;
}

.format {
	padding-bottom: 129px;
}

.end {
	padding-bottom: 190px;
}

.use-us-flex-container {

}

.article-1 {
	padding-left: 300px;
	padding-bottom: 30px;
	display: flex;
	gap: 129px;
}

.article-2 {
	padding-left: 300px;
	display: flex;
	gap: 344px;
}

.photo {
	width: 296px;
	height: 291px;
	border-radius: 16px;
}

/*Choose us section*/

.choose-us {
	color: var(--color-primary-dark);	
}

.choose-us-title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 60px;
	padding-bottom: 70px;
	margin: 0;
	gap: 20px;
}
.choose-us-title::before, .choose-us-title::after {
	background-color: var(--color-primary-dark);
	display: flex;
	width: 110px;
	height: 2px;
	content: '';
}

.choose-us-span {
	color: var(--color-secondary-red);
}

.choose-us-text {
	font-family: 'Montserrat';
	font-size: 18px;
	line-height: 0.9;
	max-width: 272px;
}

.choose-us-card {
	display: flex;
	flex-direction: column;
	border-radius: 32px;
	background-color: var(--color-primary-dark);
	color: var(--color-primary-light);
	width: 319px;
	height: 160px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.choose-us-flex-container {
	display: flex;
	justify-content: center;
	padding-bottom: 70px;
}

.choose-us-logo {
	width: 40px;
	height: 30px;
}

.choose-us-list {
	display: flex;
	gap: 55px;
}

/*Prices section*/

.prices-title {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	font-size: 60px;
	padding-bottom: 70px;
	margin: 0;
}

.prices-title::before, .prices-title::after {
	background-color: var(--color-primary-dark);
	display: flex;
	width: 350px;
	height: 2px;
	content: '';
}

.prices-span {
	color: var(--color-secondary-red);
}

.prices-list {
	display: flex;
	justify-content: center;
	gap: 145px;
	margin: 0;
	padding-bottom: 70px;
}

.prices-card {
	width: 237px;
	height: 336px;
	background-color: var(--color-primary-dark);
	border-radius: 0px 80px;
	color: var(--color-primary-light);
	background-image: url('../images/card-back.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.prices-card-item {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 180px 16px 20px 16px;
}

.formatting {
	text-decoration: underline;
}

/*Contact section*/

.contact-section {

}

.contact-title {
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	color: var(--color-primary-dark);
	font-size: 60px;
	padding-bottom: 70px;
	margin: 0;
}

.contact-title::before, .contact-title::after {
	background-color: var(--color-primary-dark);
	display: flex;
	width: 300px;
	height: 2px;
	content: '';
}

.contact-span {
	color: var(--color-secondary-red);
}

.contact-flex-container {
	display: flex;
	justify-content: center;
	gap: 100px;
	padding-bottom: 99px;
}

.contact-form {
	background-color: var(--color-primary-dark);
	width: 496px;
	height: 427px;
	border: 0px solid var(--color-primary-dark);
	border-radius: 40px;
}

.map {
	border-radius: 40px;
}

.contact-text {
	text-align: center;
	margin: 0 auto;
	padding-top: 51px;
	padding-bottom: 24px;
	justify-content: center;
	color: var(--color-primary-light);
	font-family: 'Montserrat';
}

.contact-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	gap: 20px;
}

.contact-text.limited {
	max-width: 290px;
}
.contact-button {
	background-color: var(--color-secondary-red);
	border-radius: 32px;
	width: 281px;
	height: 53px;
	color: var(--color-primary-light);
	border: 1px solid transparent;
}

.contact-button:hover {
	cursor: pointer;
	background-color: var(--color-secondary-darkred);
	color: var(--color-primary-light);
}

.contact-input {
	border-radius: 60px;
	border: 1px solid var(--color-secondary-red);
	width: 369px;
	height: 48px;
	background-color: transparent;
	color: var(--color-primary-light);
	padding-left: 20px;
	font-weight: 500;
}

.contact-free {
	color: var(--color-secondary-red);
}

::placeholder {
	color: var(--color-primary-light);
}

/*Footer*/

footer {
	padding-top: 33px;
	padding-bottom: 32px;
	background-color: var(--color-primary-dark);
}

.footer-nav {
	line-height: 1.1;
	font-size: 19px;
	display: flex;
	flex-grow: 1;
	align-items: flex-start;
	justify-content: space-between;
}

.footer-list:hover {
	color: var(--color-secondary-red);
	font-weight: 900;
}

.footer-policy {
	font-size: 16px;
}

.footer-policy:hover {
	color: var(--color-secondary-red);
	font-weight: 900;
}

.footer-data {
	margin: 0;
	color: var(--color-secondary-grey);
	font-size: 16px;
}

.footer-container {
	display: flex;
	justify-content: center;
}

.footer-logo {
	padding-left: 51px;
}

.footer-menu {
	margin: 0;
	font-size: 16px;
}

.footer-policy-menu {
	display: flex;
	flex-direction: column;
	padding-right: 91px;
	margin: 0;
	gap: 9px;
}

.footer-icon {
	width: 25px;
	height: 27px;
}

.icons {
	display: flex;
	gap: 40px;
}

.footer-links:hover {
	color: var(--color-secondary-red);
	font-weight: 900;
}
